<div class="hero-body container">

  <div class="columns">
    <div class="column  is-success">
      <% if (Object.keys(message).length> 0) { %>
        <% if (message.type==='success' ) { %>
          <div class="notification is-success">
            <%= message.msg %>
          </div>
          <% } else { %>
            <div class="notification is-warning">
              <%= message.msg %>
            </div>
            <% } %>
              <% } %>
                <form action="/add-student-exam" method="post" class="box">
                  <div class="field">
                    <label htmlFor="" class="label">Student</label>
                    <div class="select is-success is-fullwidth">
                      <select name="student">
                        <option>Select Student</option>
                        <% if (students.length>0) { %>
                          <% students.forEach(element=> { %>
                            <option value="<%= element._id %>">
                              <%= `${element.fullname} (${element.matric_no}) (${element.level})` %>
                            </option>
                            <% }) %>

                              <% } %>
                      </select>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="field column is-three-fifths">
                      <label htmlFor="" class="label">Course Title</label>
                      <div class="control">
                        <input type="text" placeholder="Introduction to Computer" name="course_title[]" class="input"
                          required />
                      </div>
                    </div>
                    <div class="field column">
                      <label htmlFor="" class="label">Course Code</label>
                      <div class="control">
                        <input type="text" placeholder="e.g. COM111" name="course_code[]" class="input" required />
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="field column is-three-fifths">
                      <label htmlFor="" class="label">Course Title</label>
                      <div class="control">
                        <input type="text" placeholder="Introduction to Computer" name="course_title[]" class="input"
                          required />
                      </div>
                    </div>
                    <div class="field column">
                      <label htmlFor="" class="label">Course Code</label>
                      <div class="control">
                        <input type="text" placeholder="e.g. COM111" name="course_code[]" class="input" required />
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="field column is-three-fifths">
                      <label htmlFor="" class="label">Course Title</label>
                      <div class="control">
                        <input type="text" placeholder="Introduction to Computer" name="course_title[]" class="input"
                          required />
                      </div>
                    </div>
                    <div class="field column">
                      <label htmlFor="" class="label">Course Code</label>
                      <div class="control">
                        <input type="text" placeholder="e.g. COM111" name="course_code[]" class="input" required />
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="field column is-three-fifths">
                      <label htmlFor="" class="label">Course Title</label>
                      <div class="control">
                        <input type="text" placeholder="Introduction to Computer" name="course_title[]" class="input"
                          required />
                      </div>
                    </div>
                    <div class="field column">
                      <label htmlFor="" class="label">Course Code</label>
                      <div class="control">
                        <input type="text" placeholder="e.g. COM111" name="course_code[]" class="input" required />
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="field column is-three-fifths">
                      <label htmlFor="" class="label">Course Title</label>
                      <div class="control">
                        <input type="text" placeholder="Introduction to Computer" name="course_title[]" class="input"
                          required />
                      </div>
                    </div>
                    <div class="field column">
                      <label htmlFor="" class="label">Course Code</label>
                      <div class="control">
                        <input type="text" placeholder="e.g. COM111" name="course_code[]" class="input" required />
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="field column is-three-fifths">
                      <label htmlFor="" class="label">Course Title</label>
                      <div class="control">
                        <input type="text" placeholder="Introduction to Computer" name="course_title[]" class="input"
                          required />
                      </div>
                    </div>
                    <div class="field column">
                      <label htmlFor="" class="label">Course Code</label>
                      <div class="control">
                        <input type="text" placeholder="e.g. COM111" name="course_code[]" class="input" required />
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="field column is-three-fifths">
                      <label htmlFor="" class="label">Course Title</label>
                      <div class="control">
                        <input type="text" placeholder="Introduction to Computer" name="course_title[]" class="input"
                          required />
                      </div>
                    </div>
                    <div class="field column">
                      <label htmlFor="" class="label">Course Code</label>
                      <div class="control">
                        <input type="text" placeholder="e.g. COM111" name="course_code[]" class="input" required />
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <button class="button is-success is-fullwidth">
                      Register Student
                    </button>
                  </div>
                </form>
    </div>
    <div class="column" style="flex-direction: column;justify-content: center;align-items: center;display: flex;">
      <div class="fingerprint-wrapper">
        <img src="fingerprint.jpg" alt="fingerprint_image" style="margin-bottom: 5px;">
        <p>Click Here to Capture Student Fingerprint</p>
      </div>
    </div>
  </div>
</div>