<div class="container is-max-widescreen">
  <div class="box is-primary welcome">
    <div>
      <h4>Good  Administration !!!</h4>
      <p>Welcome to Docket Verification System, A System that verifies student's examination docket</p>
    </div>
    <img src="image.svg" alt="illustration">
  </div>
  <div class="dashboard-actions">
    <div class="actions-item">
      <div class="icon"></div>
      <a href="/students">All Students</a>
    </div>
    <div class="actions-item">
      <div class="icon"></div>
      <a href="/add-student">Add Student</a>
    </div>
    <div class="actions-item">
      <div class="icon"></div>
      <a href="/add-student-exam">Register Student for Examination</a>
    </div>
    <div class="actions-item">
      <div class="icon"></div>
      <a href="/dockets">View Dockets</a>
    </div>
    <div class="actions-item">
      <div class="icon"></div>
      <a href="/verify">Verify Docket</a>
    </div>
  </div>
</div>