<html>

<head>
  <link rel="stylesheet" href="/css/bulma.min.css" />
  <title>Examination Docket Verification:Login</title>
</head>

<body>
  <main>
    <div class="hero-body">
      <div class="column is-full-mobile is-half is-offset-one-quarter is-success">
        <form action="/login" method="post" class="box" style="height: 300px">
          <div class="field">
            <label htmlFor="" class="label">Email</label>
            <div class="control">
              <input type="email" placeholder="e.g. bobsmith@gmail.com" name="email" class="input" required />
            </div>
          </div>
          <div class="field">
            <label htmlFor="" class="label">Password</label>
            <div class="control">
              <input type="password" placeholder="*******" class="input" name="password" required />
            </div>
          </div>
          <div class="field">
            <button class="button is-success is-fullwidth">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>

</html>