<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/bulma.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://rawcdn.githack.com/tobiasmuehl/instascan/4224451c49a701c04de7d0de5ef356dc1f701a93/bin/instascan.min.js"></script>
  <title>Examination Docket Verification</title>
</head>

<body>
  <div style="background-color: #00d1b2;">
    <nav class="navbar is-primary" style="width: 80%;
    margin: 0 auto;" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Docket Verification System
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <form action="/logout" method="post">
                <button type="submit" class="button is-light">
                  Log out
                  </>
              </form>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <main>
    <div class="hero-body container">
      <div class="columns">
        <div class="column  is-success">
          <p>Use the Laptop / Desktop Webcam to Scan the QRcode</p>
          <video id="preview" style="margin-top: 10px;"></video>
        </div>
        <div class="column" style="flex-direction: column;justify-content: center;align-items: center;display: flex;">
          <div class="fingerprint-wrapper">
            <img src="fingerprint.jpg" alt="fingerprint_image" style="margin-bottom: 5px;">
            <p>Verify With Student Fingerprint</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

<script>
  let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
  scanner.addListener('scan', function (content) {
    const qrcode = content 
    window.location.href = `/docket/${qrcode}`;
  });
  Instascan.Camera.getCameras().then(function (cameras) {
    if (cameras.length > 0) {
      scanner.start(cameras[0]);
    } else {
      console.error('No cameras found.');
    }
  }).catch(function (e) {
    console.error(e);
  });
</script>

</html>